body {
  --arknights-primary-dark: #2f2f2f;
  --arknights-secondary-dark: #5f5f5f;
  --arknights-primary-color: #2b6e9c;
  font-family: sans-serif
}

main {
  margin: 24px auto;
  max-width: 800px;
}

@media only screen and (max-width: 824px) {
  main {
    margin: 24px 12px;
    width: calc(100% - 24px);
  }
}

.button {
  width: 143px;
  height: 42px;
  background-color: var(--arknights-primary-dark);
  color: white;
  font-size: 18px;
  font-weight: 400;
  text-align: center;
  line-height: 42px;
  border: white solid 1px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.41), 0 7px 16px rgba(0, 0, 0, 0.37);
  transition: 100ms;
}

.button:hover {
  opacity: 0.78;
  cursor: pointer;
}

h1 {
  color: var(--arknights-primary-dark);
  font-size: 24px;
}

h2 {
  color: var(--arknights-primary-dark);
  font-size: 22px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 143px;
  height: 42px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--arknights-secondary-dark);
  box-shadow: inset 0 7px 4px 1px rgba(0, 0, 0, 0.49)
}

.slider:before {
  position: absolute;
  content: '';
  height: 32px;
  width: 64px;
  left: 5px;
  bottom: 5px;
  background: white url("./texture.png");
  background-size: 64px 32px;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: var(--arknights-primary-color);
}


input:checked + .slider:before {
  transform: translateX(69px);
}


.card {
  height: 220px;
  width: 220px;
  padding: 6px;
  box-shadow: 0 1px 4px -1px rgba(0, 0, 0, 0.67)
}

.card .card-header {
  position: absolute;
  margin-top: -39px;
  margin-left: 4px;
  background-color: black;
  color: white;
  padding: 2px;
  padding-right: 22px;
}

.card .heading {
  font-size: 20px;
  line-height: 23px;
  font-weight: 400;
}

.card .heading span {
  font-size: 14px;
  line-height: 17px;
  font-weight: 300;
  display: block;
}